SENTRY_DSN=
CORS_ORIGINS=["http://localhost:5173"]
# Add your own local Mongo credentials to this URL if auth is enabled.
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=ingestion_service
SQS_ENDPOINT_URL=http://localhost:9324
AI_VALIDATION_QUEUE_URL=http://localhost:9324/000000000000/ai-validation-queue
VALIDATION_RESULT_QUEUE_URL=http://localhost:9324/000000000000/validation-result-queue
